<div class="container-dashboard">
  <h3>Scheduled classes of this week</h3>
  <button class= 'but book' type="button" data-toggle="modal" data-target="#myModal" >Book a class</button>
  <table>
  <% Session.this_week.each do |session|%>
    <tr>
      <td class='bold'> <%= session.date.strftime("%A") %> </td>
      <td class='bold'> <%= session.activity.name %> </td>
      <td> <%= session.coach %> </td>
      <td> <%= session.hour%> </td>
      <td> 45min </td>
    </tr>
  <%end%>
  </table>
</div>

<div id="myModal" class="modal in" style ="max-width: 410px;height:400px">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <%= form_for Booking.new do |f| %>

    <div class="form-group">
      <%= f.label :dog %>
      <%= f.select(:dog, current_user.dogs.collect {|dog| [dog.name, dog.id]}, {class: 'form-control'})  %>
    </div>

    <div class="form-group">
      <%= f.label :class %>
      <%= f.select(:class, Session.this_week.collect {|session| [session.activity.name + ' ' + session.day + ' at ' + session.hour   , session.id]},{class: 'form-control'}) %>
    </div>
  <%= f.submit "Book!", class: 'but book' %>
<% end %>
</div>
<div id="myModal" class="modal in confirmation" style ="max-width: 410px;height:400px">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <p>Thanks for you booking</p>
</div>

<button class= 'but book open' type="button" data-toggle="modal" data-target=".confirmation" style='visibility: hidden;'></button>

<script>
  document.querySelector(".new_booking").addEventListener("submit", function(e){
     document.querySelector(".close").click()
     document.querySelector(".open").click()
});
</script>








