<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


  </head>
  <body>
    <%= javascript_pack_tag 'application' %>
    <%= render 'shared/mynavbar' %>
    <%= render 'shared/flashes' %>
    <!-- unless @disable_nav -->

    <%= render 'shared/sidebar' unless @disable_nav %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>

    <%= yield :after_js%>

    <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5621837.js"></script>
<!-- End of HubSpot Embed Code -->
  </body>
</html>


